# Ignore sensitive files
config.json
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore local IDE settings
.vscode/
.idea/
.DS_Store

# Ignore virtual environments
venv/
env/

# Ignore log files
*.log
*.sqlite3

tempCodeRunnerFile.py
reset.py
mimic.py
